.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url("images/pexels-damon-hall-2763005.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 1848px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 50px;
  margin-bottom: 0;
  min-height: 1059px;
  margin-left: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 353px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-video-1 {
  height: 283px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 353px;
}

.u-section-1 .u-container-layout-2 {
  padding: 60px 60px 60px 29px;
}

.u-section-1 .u-text-1 {
  margin: 0 320px 0 1px;
}

.u-section-1 .u-text-2 {
  margin: 20px 1px 0;
}

.u-section-1 .u-btn-1 {
  text-decoration: none solid rgb(25, 138, 230);
  font-size: 1.25rem;
  font-weight: 500;
  padding: 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 331px;
}

.u-section-1 .u-container-layout-3 {
  padding: 60px 30px 60px 60px;
}

.u-section-1 .u-text-3 {
  margin: 0;
}

.u-section-1 .u-text-4 {
  margin: 19px 0 0;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 331px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-video-2 {
  height: 283px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .embed-responsive-2 {
  position: absolute;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 353px;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-video-3 {
  height: 283px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .embed-responsive-3 {
  position: absolute;
}

.u-section-1 .u-layout-cell-6 {
  min-height: 353px;
}

.u-section-1 .u-container-layout-6 {
  padding: 60px 60px 60px 30px;
}

.u-section-1 .u-text-5 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-6 {
  margin-left: 0;
  margin-right: 0;
}

.u-section-1 .u-layout-wrap-2 {
  margin-top: 20px;
  margin-bottom: 19px;
}

.u-section-1 .u-layout-cell-7 {
  min-height: 710px;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px;
}

.u-section-1 .u-video-4 {
  height: 440px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .embed-responsive-4 {
  position: absolute;
}

.u-section-1 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-8 {
  margin: 20px 17px 0 1px;
}

.u-section-1 .u-layout-cell-8 {
  min-height: 710px;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px;
}

.u-section-1 .u-video-5 {
  height: 440px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 1px;
}

.u-section-1 .embed-responsive-5 {
  position: absolute;
}

.u-section-1 .u-text-9 {
  margin: 19px 0 0 1px;
}

.u-section-1 .u-text-10 {
  margin: 19px 0 0 1px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1654px;
  }

  .u-section-1 .u-layout-wrap-1 {
    min-height: 695px;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 343px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 343px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 221px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 370px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 370px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 343px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 343px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 585px;
  }

  .u-section-1 .u-video-4 {
    margin-left: initial;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 585px;
  }

  .u-section-1 .u-video-5 {
    margin-right: initial;
  }

  .u-section-1 .u-text-9 {
    margin-left: 0;
  }

  .u-section-1 .u-text-10 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2075px;
  }

  .u-section-1 .u-layout-wrap-1 {
    min-height: 394px;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 263px;
  }

  .u-section-1 .u-layout-cell-2 {
    order: 1;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 105px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 214px;
    order: 1;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 363px;
    order: 0;
  }

  .u-section-1 .u-container-layout-4 {
    padding-right: 27px;
  }

  .u-section-1 .u-video-2 {
    width: 660px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 306px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 235px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-top: 20px;
    margin-bottom: 0;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2789px;
  }

  .u-section-1 .u-layout-wrap-1 {
    min-height: 269px;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 365px;
    order: 1;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
    order: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
    order: 0;
  }

  .u-section-1 .u-container-layout-3 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 365px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-video-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 365px;
    order: 1;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 100px;
    order: 0;
  }

  .u-section-1 .u-container-layout-6 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-1 .u-layout-cell-7 {
    order: 0;
    min-height: 610px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-video-4 {
    height: 376px;
    width: 520px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-8 {
    order: 0;
    min-height: 620px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3084px;
  }

  .u-section-1 .u-layout-wrap-1 {
    min-height: 764px;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 244px;
  }

  .u-section-1 .u-layout-cell-7 {
    order: 1;
    min-height: 566px;
  }

  .u-section-1 .u-video-4 {
    height: 310px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 532px;
  }

  .u-section-1 .u-video-5 {
    height: 310px;
    margin-right: initial;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 277px;
}

.u-section-2 .u-text-1 {
  line-height: 52.8px;
  font-weight: bold;
  width: 678px;
  margin: 91px auto 0;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 40px auto 50px;
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 329px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 50px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 50px;
    margin-bottom: 60px;
  }
}.a {
	text-decoration: underline;
}